@use '../../scss/breakpoints' as *;

.video-list {
  margin-top: 48px;
}

.video {
  margin-bottom: 48px;

  &__title {
    margin-bottom: 24px;
  }
}

// Responsive

@include mobile {
  .video {
    &__title {
      font-size: 1.4rem;
    }
  }
}
