@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;

.btn {
  border: 4px solid transparent;
  border-radius: $border-radius;
  padding: 8px 28px;
  background-color: $primary-color;
  cursor: pointer;
  font-size: 2.4rem;
  font-family: $font-family;
  color: $black-color;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f2f2f2;
  }

  &.outline {
    border: 3px solid $primary-color;
    background-color: transparent;
    box-shadow: unset;
    color: $white-color;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      color: $primary-color;
      background-color: #616161;
    }
  }

  &.small {
    border-width: 2px;
    padding: 4px 24px;
    font-size: 1.6rem;
  }
}
