@use './variables' as *;

@mixin flex($alignItem: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin overlay {
  background-color: rgba($overlayBg, 0.6);
}

@mixin mobile {
  @media only screen and (max-width: $mobileWidth) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tabletWidth) {
    @content;
  }
}
