@use '../utils/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-family: $fontFamily;
  line-height: $lineHeight;
  color: $txtColor;
  background-color: $bodyBg;

  @include mobile {
    margin-bottom: 2.5rem;
  }
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    color: $mainColor;
  }
}

button,
input {
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

iframe {
  height: 100%;
  border: 0;
}

.container {
  max-width: 1660px;
  margin: auto;
}

.section {
  padding: 0 32px;
  margin-bottom: 48px;

  @include mobile {
    margin-bottom: 40px;
  }
}

.section__header {
  @include flex(center, space-between);
  margin-bottom: 32px;

  @include mobile {
    h2 {
      font-size: 1.8rem;
    }
  }
}
