@use '../../scss/utils/' as *;

.movie-card {
  position: relative;
  padding-top: 160%;
  margin-bottom: 16px;
  border-radius: $borderRadius;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $black;
    border-radius: $borderRadius;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  // Device is not touch
  @media (hover: hover) {
    &:hover::before {
      opacity: 0.8;
    }

    &:hover &__btn {
      transform: scale(1) translate(-50%, -50%);
    }
  }

  @include mobile {
    &-title {
      font-size: 1.6rem;
    }
  }
}
