@use '../../scss/breakpoints' as *;

.movie-search {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-bottom: 24px;

  input {
    width: 100%;
    padding-right: 130px;
  }

  button {
    position: absolute;
    top: 2px;
    right: 0;
  }
}

// Responsive

@include mobile {
  .movie-search {
    button {
      top: 1px;
      right: 1px;
    }
  }
}
