@use '../../scss/utils/' as *;

.page-header {
  position: relative;
  padding: $headerHeight 0 32px;
  margin-bottom: 32px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $bodyBg, rgba($black, 0));
  }

  h2 {
    position: relative;
    z-index: 10;
  }
}
