@use '../../scss/mixins' as *;
@use '../../scss/breakpoints' as *;

.footer {
  position: relative;
  padding: 96px 32px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  &-content {
    max-width: 1000px;

    &__logo {
      @include flex(center, center);
      margin-bottom: 48px;
      font-size: 2.7rem;
      font-weight: 600;

      img {
        width: 50px;
        margin-right: 10px;
      }
    }

    &-menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px 20px;

      &__column {
        @include flex(flex-start, flex-start);
        flex-direction: column;
        font-size: 2.4rem;
        font-weight: 600;

        & > * ~ * {
          margin-top: 16px;
        }
      }
    }
  }
}

// Responsive
@include mobile {
  .footer-content-menu {
    grid-template-columns: repeat(2, 1fr);

    &__column {
      font-size: 1.8rem;
    }
  }
}
