@use './variables' as *;

@mixin flex($alignItem, $justifyContent) {
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin overlay {
  background-color: rgba($overlay-bg-color, 0.6);
}
