@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;
@use '../../scss/mixins' as *;

@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;
  line-height: $line-height;
  color: $txt-color;
  background-color: $body-bg-color;

  @include mobile {
    margin-bottom: 2.5rem;
  }
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    color: $primary-color;
  }
}

button,
input {
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

iframe {
  border: 0;
}

.container {
  max-width: 1660px;
  margin: auto;
}

.section {
  padding: 0 32px;
  margin-bottom: 48px;
}

.section__header {
  @include flex(center, space-between);
  margin-bottom: 32px;
}

// responsive

@include mobile {
  .section {
    margin-bottom: 40px;
  }

  .section__header {
    h2 {
      font-size: 1.8rem;
    }
  }
}
